//set common breakpoints as variables

//breakpoints should include mobile tablet laptop and desktop and hidpi 
//breakpoints should be in order of smallest to largest

$mobile:768px;
$tablet:992px;
$laptop:1200px;
$desktop:1440px;
$hidpi:1920px;

