$bg-dark: #383838;
$bg-light: #f9f9f9;
$text-color-light: #383838;
$text-color-dark: #f9f9f9;
$accent-color: #00d0ff;
$hilight-color: #a43dfa;
$border-color: #474da9;
$form-input-color: #595f6e;
$caption-color: #595f6e;
