$bg-light: #f9f9f9;
$bg-dark: #383838;
$text-color-light: #383838;
$text-color-dark: #f9f9f9;
$accent-color: #474da9;

$font-family-header: 'Ubuntu', sans-serif;
$font-family-subheader: 'Open Sans Condensed' sans-serif;
$font-family-body: 'Open Sans SemiCondensed', sans-serif;
$font-family-code: 'Fira Code', monospace;
$border-width: 2px;
$border-color: #474da9;
$shadow-hover: 0px 0px 10px rgba(0, 0, 0, 0.2);
$shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
$nav-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;

$breakpoint-mobile: 768px;
